/* Login Ekranı Arka Plan Görseli ve Ortaya Yerleştirme */
.login-container {
  background-image: url('/assets/hotel.jpg'); /* Arka plan resmi */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center; /* Yatayda ortalama */
  align-items: center; /* Dikeyde ortalama */
  text-align: center;
}
/* login.component.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2; /* Arka plan rengini ekleyebilirsiniz */
}

.login-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Maksimum genişlik */
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 15px; /* Her bir input arasına boşluk ekler */
  text-align: left;
  width: 100%;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

button:hover {
  background-color: #45a049;
}