<div class="dashboard-container">
  <div class="welcome-container">
    <h2>Welcome, {{ user.name }}</h2>
    <!-- Bildirim Alanı -->
    <div class="notification" *ngIf="reservationUpdates.length > 0">
      <ul>
        <li *ngFor="let update of reservationUpdates">{{ update }}</li>
      </ul>
    </div>
    <button routerLink="/user-reservations" class="btn-reservations">
      My Reservations
    </button>
    <button (click)="makeReservation()">Make Reservation</button>
    <button (click)="logout()">Logout</button>
  </div>
</div>